:root {
  --primary-color: #0f8ff1;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-bg: #334;
  --dark-bg: #1f202c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set default text color on body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-bg);
  color: #fff;
}

main {
  padding: 2rem 4rem 4rem 4rem;
  min-height: 100vh;
}

a {
  width: inherit;
  color: inherit;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.page-bg-light {
  background-color: #334;
}

.page-bg-dark {
  background-color: #1f202c;
}

.navbar-home {
  margin-right: 2rem;
}

.navbar-button {
  background-color: var(--primary-color);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

h1 {
  margin: 1rem 0;
}

/* Ensure input text color is readable */
input {
  margin: 0.3rem 0;
  color: #000;
}

input[type="text"],
input[type="number"] {
  outline: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 2px solid var(--primary-color);
}

input[type="submit"] {
  margin: 0;
  outline: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}


.index-tracked-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--dark-bg);
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  color: #333;
  /* Set table text color for better contrast */
}

thead {
  background-color: #1f202c;
  color: #fff;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e9e9e9;
}

th {
  color: #fff;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
}

.btn-primary {
  height: 2rem;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  text-decoration: none;
}

.btn-secondary {
  height: 2rem;
  background-color: var(--secondary-color);
  color: #fff;
  text-decoration: none;
}

.btn-success {
  background-color: var(--success-color);
  color: #fff;
  text-decoration: none;
}

.btn-warning {
  background-color: #ffc107;
  color: #fff;
  text-decoration: none;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  text-decoration: none;
}

.tracked-item-action {
  width: 2rem;
  height: 2rem;
}

.color-success {
  color: var(--success-color);
}

.color-danger {
  color: var(--danger-color);
}

.color-warning {
  color: var(--warning-color);
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.bg-success {
  background-color: var(--success-color);
}

.bg-warning {
  background-color: var(--warning-color);
}

.bg-danger {
  background-color: var(--danger-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: #6c757d;
}

.index-action {
  width: 1.8rem;
  aspect-ratio: 1 / 1;
}

.tracked-item-attributes-container {
  margin-top: 1rem;
  font-size: larger;
}


/* dark bg */

code {
  background-color: var(--dark-bg);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  padding: 1rem;
}

select {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
}

.item-image {
  width: 100%;
  float: left;
  background-color: darkslateblue;
  border: 0.1rem solid slateblue;
  box-shadow: inset 0 0 16px -6px black;
}

.wear-fn {
  color: #4b69ff;
}

.wear-mw {
  color: #60ad0d;
}

.wear-ft {
  color: #e5c100;
}

.wear-ww {
  color: #e5c100;
}

.wear-bs {
  color: #ff3333;
}
.market-price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: -webkit-fill-available;
  gap: 0.5rem;
}

.market-price {
  text-decoration: none;
  background-color: var(--light-bg);
  list-style: none;
  padding: 0.5rem 1rem;
  display: inline-flex;
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;	
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.2s ease;
  border-radius: 0.4rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.market-price::after {
  margin-left: 0.2rem;
  content: '€';
}

.market-price:hover {
  transform: skew(1deg) scale(1.03);
  filter: brightness(1.2);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

#show-page-left-container {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-page-right-container{
  position: relative;
}

#min-price {
  color: var(--success-color);
  font-size: 1.5rem;
  display: flex;
  width: fit-content;
  gap: 1rem;
  align-items: center;
  padding: 0rem 1.5rem;
  background-color: var(--light-bg);
  border-radius: 1.6rem;
  transition: transform 0.1s;
}

#min-price:hover {
  transform: scale(1.01);
  cursor: pointer;
  border: .1rem solid var(--success-color);
}

.big-price-display-icon {
  transform: scale(0.6);
  width: 3rem;
  height: inherit;
}